* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E9EBEC;
  display: grid;
  grid-template-rows: auto;
  font-family: Arial, sans-serif;

}

nav {
  background-color: #8898AF;
  opacity: 0.7;
  height: 55;
  width: 1255;
  border-radius: 10px;
  margin: 30px;
 

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-image: url("img/IMG_får.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-size: 100%, ;

  height: 720px;
  
}

header h1,
h2 {
  color: #403d3d;
  font-family: 'Courier New', Courier, monospace;
}
header h1{
  font-size: 67px;
  font-weight: 500;
}
header h2{
  font-size: 36px;
  font-weight: 500;
}

.nav_links {
  list-style: none;
}

.nav_links li{
  display: inline-block;
  margin-right: 20px;
}

.nav_links li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

main section {
  margin-bottom: 20px;
}

main h1,
main h2 {
  color: #333;
}

footer {
  background-color: #B3BBC6;
  color: #fff;
  text-align: left;
  padding: 10px;
  height: 300px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.main_container{
  background-color: white;
  display: inline-block;
  width: 80%;
  height: 400px;
  position: absolute;
  left: 10%;
  top: 80%;
  

}
.bild-container{
  display: flex;
  
}
.intro-bild{
  border-radius: 50%;
  height: 280px;
  width: 280px;

}

.logo{
  width: 40px;
 height: 40px;
}

