*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #B3BBC6;
    height: 55;
    width: 1255;
    border-style: outset;
    border-radius: 10px;
    padding: 5px;

    display: flex;
    justify-content: end;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1,h2 {
    color:#403D3D;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("img/IMG_1794.CR2");
   background-size: cover;
  background-position: center;


  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

main section {
  margin-bottom: 20px;
}

main h1, main h2 {
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

