* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ebec;
  display: grid;
  grid-template-rows: auto;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #8898af;
  opacity: 0.7;
  height: 100;
  width: 1255;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-image: url("img/IMG_får.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-size: 100%;

  height: 720px;
}

header h1,
h2 {
  color: #403d3d;
  font-family: "Courier New", Courier, monospace;
}
header h1 {
  font-size: 67px;
  font-weight: 500;
}
header h2 {
  font-size: 36px;
  font-weight: 500;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  margin-right: 20px;
}

.nav_links li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

main section {
  margin-bottom: 20px;
}

main h1,
main h2 {
  color: #333;
}

footer {
  background-color: #b3bbc6;
  color: #fff;
  text-align: left;
  padding: 10px;
  height: 300px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.main_container {
  background-color: white;
  display: inline-block;
  width: 80%;
  height: 400px;
  position: absolute;
  left: 10%;
  top: 85%;
}
.bild-container {
  display: flex;
  align-items: center;
}
.intro-text{
  
    padding-left: 20px;
    padding-top: 20%;
    float: left;
}
.intro-bild {
  margin-left: 100px;
  margin-top: 60px;
  margin-right: 60px;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  object-fit: cover;
  object-position: 25% 50%; 
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 1%;
  z-index: 1;
}
